<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shelter</title>
    <style>
        .center-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            text-align: center;
        }
    </style>
</head>
<body>

    

    <div class="center-content">
        <h3 style="color: green">Thank you for contact with Shelter!! We will contact you soon!! </h3>
    
        <p>
            <a href={% url 'home' %} > Return Home</a>
        </p>
    </div>

</body>
</html>