<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shelter</title>
<style>
        .center-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            text-align: center;
        }
    </style>
    
</head>
<body>

         <div class="center-content">
            <h3 style="color: green">We didn't add your pet!!</h3>
        
            <p>
                <a href={% url 'home' %} > Return Home</a>
                
            </p>
                 <p>
                     <a href={% url 'create_pet' %} > Try again</a>
                 </p>
        </div>

</body>
</html>