{% extends 'base.html' %}

{% block content %}

    <h1>About Us</h1>
    <div class="about-us">
        <p>Paws Haven Animal Shelter is a non-profit organization dedicated to providing a safe haven for animals in need. Our mission is to rescue, rehabilitate, and rehome abandoned, neglected, and abused animals.</p>

        <h3>Our Vision</h3>
        <p>Our vision is to create a community where every animal is valued, respected, and provided with the love and care they deserve. We strive to promote responsible pet ownership and to advocate for animal welfare.</p>

        <h3>Our Services</h3>
        <p>Rescue and Rehabilitation: We rescue animals from various situations such as overcrowded shelters, abusive environments, and natural disasters. Our dedicated team provides medical care, rehabilitation, and behavioral training to help them recover physically and emotionally.</p>
        <p>Adoption: We facilitate adoptions to loving and responsible individuals or families who are committed to providing a forever home for our animals.</p>
        <p>Education and Outreach: We conduct educational programs and community outreach initiatives to raise awareness about animal welfare issues, responsible pet ownership, and the importance of spaying/neutering.</p>
        <p>Volunteer and Foster Programs: We rely on the support of volunteers and foster families who generously donate their time and resources to care for our animals and assist with various shelter activities.</p>

        <h3>Get Involved</h3>
        <p>You can make a difference in the lives of animals by volunteering, fostering, donating, or adopting. Together, we can create a better future for companion animals.</p>

        <p>Thank you for supporting Paws Haven Animal Shelter!</p>
    </div>
    
{%  endblock %}