
{% extends 'base.html' %}

{% block content %}
    
    <h2 class="title">About us</h2>
    
    <div class="about">
    
        <p class="about-text">Welcome to Shelter, a sanctuary dedicated to the care and protection of animals in vulnerable situations. 
            Founded in 2024, our organization is committed to providing a safe and loving home for animals who have been 
            abandoned, abused, or are in need of special care.</p>
    
        <p class="about-text">At Shelter, our mission is simple yet powerful: to safeguard the lives and well-being of every living being that 
            comes through our doors. We work tirelessly to provide medical care, proper nutrition, and, most importantly, 
            love and compassion to each of our furry residents.</p>
    
        <p class="about-text">Our team consists of a passionate group of volunteers, veterinarians, and animal lovers who share a common goal: 
            to ensure that each animal receives the care and attention they deserve. Together, we are changing lives and 
            making a positive impact in the community.</p>
    
        <p class="about-text">At Shelter, we not only focus on rescuing and rehabilitating animals, but we also strive to educate the community 
            about the importance of responsible adoption, spaying/neutering, and preventing pet abandonment. 
            We firmly believe in raising awareness and promoting respect for all forms of life.</p>
    
        <p class="about-text">Join us in our mission to make the world a better place for our furry friends!</p>
    
    </div>
{%  endblock %}