{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'menu.css' %}">
    <title>Shelter</title>

</head>
<body>
    <header>
        <nav>
            <label for="" class="logo">
                <img src="/static/logo.png" alt="Shelter logo">
            </label>
            <ul>
                <li><a  href={% url 'home' %}>HOME</a></li>
                <li><a  href={% url 'contact' %}>CONTACT</a></li>
                <li><a  href={% url 'about_us' %}>ABOUT US</a></li>
                <li> {% if user.is_authenticated %}
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">LOG OUT</button>
                    </form>
                    {% else %}
                        <a  href="{% url 'login' %}">LOG IN</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

</body>
</html>