
{%  extends 'base.html' %}

{% block content %}
    <h1>Welcome to the pet shelter</h1>

    <div class="main-container">
        <p>
            <a class="function" href={% url 'create_pet' %}>Add pet to shelter</a>
        </p>
        <p>
            <a class="function" href={% url 'list_pets' %}>List of pets from the shelter </a>
        </p>
        <p>
            <a class="function" href={% url 'adopt_pet' %}>Adopt a pet</a>
        </p>
        <p>
            <a class="function" href={% url 'list_adopted_pets' %}>List of adopted pets</a>
        </p>
    </div>
    
{%  endblock %}