{% extends 'base.html' %}

{% block content %}

    <h1>List of adopted pets</h1>
{% for adopt in adopts %}
    <div class="adopted">
        <h3 class="pet-name">
            {{ adopt.pet.name }}
        </h3>
        <p class="pet-data">
            <b> Adoption date: </b> {{ adopt.date }}
        </p>
        <p class="pet-data">
            <b> Worker name:</b> {{ adopt.worker.name }}
        </p>
        <p class="pet-data">
            <b> Adopter name:</b> {{ adopt.customer.name }}
        </p>
    </div>
{% endfor %}

{% endblock %}